@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

.loading {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-top-color: #5b21b6;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.no-form-error {
  height: 16px;
}